.container {
  width: 20px;
  height: 20px;
  background: var(--blue);
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;

  /* overflow-x: auto; */
}

.message {
  position: absolute;
  width: 300px;
  background: white;
  top: -89px;
  font-size: small;
  padding: 8px;
  right: 7px;
  border-radius: 8px;
  box-shadow: rgb(17 12 46 / 59%) 0px -1px 14px 0px;
  color: var(--gris-text);
  font-weight: normal;
}

.container .i {
  content: "";
  position: absolute;
  top: -1.5rem;
  right: 7px;
  border: 0.9rem solid var(--white);
  border-left-color: transparent;
  border-bottom-color: transparent;
}
