.container {
  width: 100%;
  display: flex;
  height: 100%;
  position: relative;
}
.chi {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
  text-align: left;
  max-height: 100vh;
  z-index: 27;
  backdrop-filter: blur(1px);
}
.chi > div {
  background: var(--white);
  border-radius: 1rem;
  position: relative;
  width: 54%;
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-form);
}
.hr {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
}
.hr::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background: var(--gris-v-3);
}
.chi .close {
  cursor: pointer;
  color: var(--gris-v-2);
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: 0.1s;
}
.chi .close:hover {
  color: var(--gris);
}
.chi .line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
}
.chi .line::before {
  content: "";
  height: 1px;
  width: 100%;
  background: var(--gris-v-4);
}
.chi .contenu {
  overflow-x: hidden;
  gap: 1rem;
  padding: 1.5rem;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.title {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  color: var(--green);
  font-weight: var(--bold);
}
.ins {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  color: var(--gris);
  width: 100%;
}
.ins span {
  width: 100%;
  text-align: center;
}
.mess {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mess span {
  color: var(--black-input);
  text-align: center;
  width: 100%;
}

@media (max-width: 700px) {
  .bot {
    bottom: 1rem;
  }
  .right:hover {
    box-shadow: var(--box-shadow);
  }
  .ls {
    height: 100%;
    width: 100%;
    background: var(--bg-1);
    backdrop-filter: blur(1px);
    border-radius: initial;
    bottom: initial;
    right: initial;
    cursor: initial;
    box-shadow: none;
  }
  .ls,
  .rs {
    z-index: 5;
  }
  .none {
    display: none;
  }
  .ls:hover {
    box-shadow: none;
  }
  .ls .leftR {
    max-width: 375px;
  }
  .rs .rightR {
    max-width: 22rem;
  }
}
